{{% extends "layout.html" %}}

{{% block page_title %}}{{{product.name}}}{{% endblock %}}
{{% block page_js %}}{{% endblock %}}
{{% block page_css %}}
<link rel="stylesheet" href="/pages/site/product/product.css"/>{{% endblock %}}
{{% block page_content %}}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails">
						<div class="preview-pic tab-content">
						{{% for image in product.images[2:-2].split("', '") %}}
						  <div class="tab-pane {{% if loop.first %}}active{{% endif %}}" id="pic-{{{loop.index}}}"><img src="http://{{{image}}}" /></div>
						{{% endfor %}}
						</div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						{{% for image in product.images[2:-2].split("', '") %}}
						  <li class="{{% if loop.first %}}active{{% endif %}}"><a data-target="#pic-{{{loop.index}}}" data-toggle="tab"><img src="http://{{{image}}}" /></a></li>
						{{% endfor %}}
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{{product.name}}}</h3>
						<!--div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">{{{product.views}}} reviews</span>
						</div-->
						<p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
						<h4 class="price">current price: 
							{{% if product.prices[2:-2].split("', '")[1] == 'None' %}}
							<span>{{{product.prices[2:-2].split("', '")[0] }}}</span>
							{{% else %}}
							<span style="text-decoration: line-through">{{{product.prices[2:-2].split("', '")[0] }}}</span>
							<span>{{{product.prices[2:-2].split("', '")[1] }}}
							{{% endif %}}</span>
						</h4>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<p class="vote"><strong>Views:</strong> {{{product.views}}}</p>
						{{% if product.sizes %}}
						<h5 class="sizes">sizes :
							{{% for size in product.sizes[2:-2].split("', '") %}}
							{{% if size.split(' ') %}}
							<span class="size" data-toggle="tooltip" title="{{{size}}}">{{{size.split(' ')[0]}}}<span style="font-size: 12px">{{{size.split(' ')[1]}}}</span></span>
							{{% else %}}
							<span class="size" data-toggle="tooltip" title="{{{size}}}">{{{size[2:-3]}}}</span>
							{{% endif %}}
							{{% endfor %}}
						</h5>
						{{% endif %}}
						{{% if product.colors_imgs == 'None' %}}
						{{% else %}}
						{{% if product.colors_imgs != None %}}
						<h5 class="colors">colors:
							{{% for color in product.colors_imgs[2:-2].split("', '") %}}
							<a {{% if loop.first %}} class="active" {{% else %}} href="{{{ product.colors_links[8:-2].split("', '")[loop.index0-1]}}}" {{% endif %}}><img style="height: 60px; wight: 60px" src="{{{color}}}"></a>
							{{% endfor %}}
						</h5>
						{{% endif %}}
						{{% endif %}}
						<div class="action">
							<button class="add-to-cart btn btn-success" type="button">add to cart</button>
							<button class="like btn btn-danger" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{% endblock %}}